@import "bootstrap";

.c-section::after {
  clear: both;
  content: "";
  display: table;
}

.c-section--alternative {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #f5f5dc;
  }

  color: #f5f5dc;
}
