.c-service-card {
  cursor: pointer;
  height: 206px;
}

.c-service-card__title.card-title {
  font-weight: $card-title-font-weight;
  color: $card-color;
}

@include media-breakpoint-up(md) {
  .c-service-card {
    height: 380px;
  }
}
